body {
    margin: 0;
    padding: 0;
    border: 0;
    background: rgb(46, 45, 45);
    color: aliceblue;
    font-family: sans-serif;
}

.parent {
    display: grid;
    grid-template-columns: 15% 80%;
    grid-template-rows: auto 1fr auto; /* Divide the layout into three rows */
    gap: 10px; /* Set the gap between grid items */
  }
  
  .header {
    grid-row: 1;
    grid-column: 1/span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 102, 0);
    text-transform: uppercase;
    font-family: Calibri Light, sans-serif;
  }

  .petmebutton {
    text-decoration: none !important;
    font-family: Arial;
    font-weight: bolder;
    color :rgb(0, 0, 0);
    background: white;
    margin-right: 3%;
    padding: 1% 2% 1% 2%;
    justify-content: center;
    text-align: center;
    font-size: large !important;
    border-radius: 50% 50% 50% 50%;
  }

  .petmebutton:hover{
    background: rgb(0, 0, 0);
    color :rgb(255, 255, 255);
  }
  
  .sidebar {
    grid-row: 2;
    padding-left: 5%;
    color: aliceblue;
    border-right: solid 2px white ;
  }
  .sidebar a {
    color: rgb(255, 136, 0);
  }
  
  .mainbody {
    grid-row: 2;
  }
  
  .imagesgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .imagesgrid img {
    width: calc(33.33% - 10px); /* Adjust the width to fit three images in a line */
    object-fit: cover; /* Maintain aspect ratio */
    margin-bottom: 10px;
  }
  
  .footer {
    grid-row: 3;
    grid-column : 1/span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 102, 0);
    font-family: Calibri Light, sans-serif;
  }
  

  
  /* Style for other elements within the grid */
  .one,
  .two,
  .three,
  .four {
    padding: 10px;
  } 

  .one img{
    width: 33%;
  }

  img {
    border : solid 4px rgb(221, 215, 215);
    border-radius: 5%
  }

  h2 {
    font-family: Arial;
  }